@model shortbox.Models.Issue

@{
    ViewData["Title"] = "Issue Details - ";
}

<h2>Details</h2>

<div>
    <h4>Issue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Colorist)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Colorist)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Inker)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Inker)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IssueNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IssueNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Letterer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Letterer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Penciller)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Penciller)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeriesName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeriesName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StoryArc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StoryArc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Writer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>
    </dl>
</div>
<p>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</p>
